/* HEADER NAVBAR */

/* imagem logo */
.rounded{
    width: auto;
    height: 60px;
}
/* Alinhar a barra de navegação como um flex container */
.section-navbar .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Alinhar a logo ao centro */
.imagem-logo{
    display: flex;
    justify-content: center;
    margin-left: 44%;
    margin-right: auto;
    
}
/* Evitar que a pesquisa ultrapasse os limites da tela */
form.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Ajuste de largura do campo de pesquisa */
form.d-flex input{
    max-width: 400px;
    width: 100%;
}
/* Responsividade: navbar para dispositivos móveis */
@media (max-width: 768px) {
    .section-navbar .navbar {
        flex-direction: column; /* Empilha os itens em coluna */
        justify-content: flex-start; /* Coloca os itens no início da coluna */
    }

    .imagem-logo {
        margin-bottom: 10px;
    }

    /* Para manter a pesquisa com largura adequada */
    form.d-flex {
        width: auto;
        margin-top: 10px;
    }
}
/* ICONES */
.iconeslc{
    width: 100px;
    height: 60px;
}

/* navlinks */
.navbarlinks
{
    background-color: black;
    .nav-link{
        color: white;
        background-color: black;
    }
    
}

/*TEXTO ANIMADO*/
.texto-animado {
    overflow: hidden;
    white-space: nowrap;
    background-color: #6aaa64;
  }
  
  .texto-animado p {
    display: inline-block;
    padding-left: 100%;
    margin-bottom: 1px;
    animation: loopTexto 30s linear infinite;
    font-size: 1rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #ffffff;
  }
  
  @keyframes loopTexto {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  /* MAIN */
/* carousel */
  .carousel-inner{
    margin: 0 auto;
    margin-top: 1%;
  }
