/* NAVBAR */
.section-navbar{
  width: max-content;
}

.section-navbar{
  & .container{
    width: max-content;
    
  }
  & .row{
    width: max-content;
    
  }
  & .col-6{
    width: max-content;
    display: inline;
    
  }
  & .icones{
  padding: 0;
    display: flex;
    align-items: center;
  }
}
.icones{
  & .icone-login{
    width: 20px;
    height: auto;
    
  }
  & .icone-carrinho{
    width: 20px;
    height: auto;
  }
}
