body {
    background-color: rgba(0, 250, 0, 0.1);
    /* background-image: url('images/background.png'); */
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }
  .logo {
    background-color: #6aaa64;
    width: auto;
    height: 80px;
  }
  .logo img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 80px;
  }
  .container-fluid {
    display: flex;
    margin-left: 36%;
    height: 60px;
  }
  .navbar-nav {
    gap: 15px;
    vertical-align: auto;
  }
  /* INICIO */
  .navbar-brand {
    font-size: 25px;
    text-transform: uppercase;
  }
  .nav-link {
    font-size: 25px;
    text-transform: uppercase;
  }
  body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.carousel-container,
.footer {
  margin-top: auto; /* Força o rodapé para o final da página */
}

/* Estilo do Rodapé */
.footer {
  background-color: #6aaa64;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer p {
  font-size: 16px;
  margin-bottom: 15px;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links li {
  font-size: 14px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #2192ff;
}

.footer-social a {
  margin: 0 10px;
}

.footer-social img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1); /* Ícones brancos */
  transition: filter 0.3s;
}

.footer-social a:hover img {
  filter: brightness(0.8) invert(1);
}

.footer-copyright {
  font-size: 12px;
  margin-top: 15px;
}
/*TEXTO ANIMADO*/
.texto-animado {
    overflow: hidden;
    white-space: nowrap;
    background-color: #6aaa64;
  }
  
  .texto-animado p {
    display: inline-block;
    padding-left: 100%;
    margin-bottom: 1px;
    animation: loopTexto 30s linear infinite;
    font-size: 1rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #ffffff;
  }
  
  @keyframes loopTexto {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  /* IMAGENS */
  
  .float-start {
    display: flex;
    margin-left: 0;
    margin-right: auto;
    width: 49%;
    position: relative;
  }
  .float-end {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    width: 49%;
    position: relative;
  }