.logo {
  background-color: #aa8164;
  width: auto;
  height: 80px;
}
.logo img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 80px;
}
.container-fluid {
  display: flex;
  margin-left: 36%;
  height: 60px;
}
.navbar-nav {
  gap: 15px;
  vertical-align: auto;
}
/* INICIO */
.navbar-brand {
  font-size: 25px;
  text-transform: uppercase;
}
.nav-link {
  font-size: 25px;
  text-transform: uppercase;
}
.card-title{
text-align: center;
}
.card-price{
  text-align: center;
}
